@import "mobHeader";
@import "headerCon";
@import "footer";
@import "backtop";
@import "cartshoping";

@media only screen and (max-width: 767px) and (min-width: 320px){
    #cart{

        .part2{
            width: 100%;
            float: right;
            padding-top: 20%;
            .serch{
                 padding-bottom: 15%;
                 .firstinput{
                      input{
                         background-color: #121618;}
                                     
                      button{
                               position: absolute;
                               right: 4%;
                               top: 19%;
                               outline: none;
                               border-style: none;
                               background-color: transparent;   
                               color: white;
                               cursor: pointer; } 
                                         
                 }
             }
             .FEATURED{
                 .post{
                     width: 100%;
                     height: auto;
                     background-color: #252c30;
                     padding-bottom: 12%;
                     padding-top: 12%;
                     padding-left: 0;
                     text-align: center;
                     padding-right: 5%;
                     .text{
                         padding-bottom: 6%;
                         h5{
                             color: white;
                             font-weight: 400;
                             letter-spacing: 2px;
                             font-size: 16px;
                         }
                     }
                     .picturepart{
                         padding-top: 14%;
                         padding-bottom: 21%;
                         img{
                             border-radius: 60%;
                         }
                     }
                     .contentpart{
                         padding-top: 7%;

                         a{
                             text-decoration: none;
                             color: white;
                             letter-spacing: 0;
                             font-size: 14px;
                             transition: 0.4s;
                             &:hover{
                                 color: #ffc851;
                             }
                         }
                         span{
                             color: white;
                             display: block;
                             padding-top: 5%;
                             letter-spacing: 2px;
                             font-size: 14px;
                         }
                     }
                 }
                } 

             .Blog{
                 padding-top: 15%;
                 .categories{
                     width: 100%;
                     height: auto;
                     background-color: #252c30;
                     padding-top: 12%;
                     padding-left: 14%;
                     padding-right: 5%;
                     .text{
                         h5{
                             color: white;
                             font-weight: 400;
                             letter-spacing: 2px;
                             font-size: 16px;
                         }
                     }
                     .mini{
                             padding-top: 7%;
                             text-align: left;
                         ul{
                             padding: 0;
                             li{
                                 list-style: none;
                                 padding-bottom: 5%;
                                 a{text-decoration: none;

                                     color: #dce4e8;
                                     transition: 0.4s;
                                     &:hover{
                                         color: #ffc851;
                                     }
                                 }
                                 i{
                                     float: right;
                                     color: #dce4e8;
                                     cursor: pointer;
                                 }
                             }
                         } 
                         ul li::after{
                             background: #293033;
                             display: block;
                             content: "";
                             width: 100%;
                             height: 1.5px;
                             margin-top: 7px;
                             margin-bottom: 7px;
                         }
                     }
                 }
                
             } 
             .tags{
                 padding-top: 15%;
                
                 .lists{
                     width: 100%;
                     height: auto;
                     background-color: #252c30;
                     padding-top: 12%;
                     padding-left: 14%;
                     padding-right: 5%;
                     .text{
                         h5{
                             color: white;
                                 font-weight: 400;
                                 letter-spacing: 2px;
                                 font-size: 16px;
                         }
                     }
                     .mini{
                             width: 100%;
                             padding-top: 5%;
                             padding-bottom: 7%;
                         a{
                             display: inline-block;
                              font-size: 14px !important;
                              line-height: 26px;
                              letter-spacing: 2px;
                              text-transform: uppercase;
                              border: solid 2px;
                              padding: 4px 9px 6px 14px;
                              text-decoration: none;
                              border-color: #31383c;
                              color: #dce4e8;
                              margin: 0 6px 10px 0;
                              transition: 0.4s;
                              &::after{
                                 content: "\002022";
                                 font-size: 18px;
                                 margin-left: 5px;
                              }
                              &:hover{
                                  color: #ffc851;
                                  border-color: #ffc851;
                              }
                         }
                     }

                 }
             }  
             .INSTAFEED{
                 .menuimg{
                     
                     .picturepart{
                        ul{
                          
                            li{
                             
                                width: 31.3%;
                               
                            }
                        }
                     }
                 }
                
             }
         }
         .ptext{
             text-align: center;

         }
         .linktitle{
             text-align: center;
             padding-top: 15%;
         }
    }
}

