
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Discover   Our MEnu    start -->
<section id="discmenu">
    <div class="container menublock">
        <div class="row text">
            <div class="col-md-12 h3text">
                <h3>BLOG FULLSCREEN</h3>
            </div>
        </div>
    </div>
</section>
<!-- Discover   Our MEnu    end -->
<!-- blogfullscreen section start -->
<section id="fullscreen">
    <div class="container-fluid   main">
        <div class="row">
            <div class="col-md-3">
                <div class="title1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mini1">
                                <div class="htext">
                                    <h4>
                                        <a href="">HEALSY FOOD FOR HEALTHY BODY</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mini1 mini2">
                                <div class="part1">
                                    In
                                    <a href="">Food</a>,
                                    <a href="">Inspiration</a>
                                </div>
                                <div class="part1  part2">
                                    APRIL 6, 2017 By
                                    <span>/</span>
                                    <a href="">pixel-mafia </a>
                                </div>
                                <div class="part1  part3">
                                    <a href="">0 COMMENTS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="minislider">
                                <div class="owl-carousel owl-theme">
                                    <div class="item">
                                        <div class="miniimg">
                                           <img src="~/assets/images/Pizzas/19-1600x1600.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="miniimg">
                                           <img src="~/assets/images/Pizzas/20-1600x1600.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="miniimg">
                                           <img src="~/assets/images/pasta/22-1600x1600.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="content1">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit donec vel venenatis purus fusce
                                    pretium enim amet faucibus. What’s our...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title1  title2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mini1">
                                <div class="htext">
                                    <h4>
                                        <a href="">
                                            Aside / Status
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mini1 mini2">
                                <div class="part1">
                                    In
                                    <a href="">People</a>, February 24, 2017

                                </div>
                                <div class="part1  part2">
                                    BY
                                    <a href="">pixel-mafia </a>
                                    <span>/</span>
                                    <a href="">0 COMMENTS</a>
                                </div>
                                <div class="part1  part3">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="minitext2">
                                <h4>

                                    We don’t just make pizza. We make people’s days awesome.

                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title1  title2  title3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mini1">
                                <div class="htext">
                                    <h4>
                                        <a href="">
                                            Aside / Status
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mini1 mini2">
                                <div class="part1">
                                    In
                                    <a href="">People</a>, February 24, 2017

                                </div>
                                <div class="part1  part2">
                                    BY
                                    <a href="">pixel-mafia </a>
                                    <span>/</span>
                                    <a href="">0 COMMENTS</a>
                                </div>
                                <div class="part1  part3">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="minitext">
                                <h4>

                                    Put your heart, mind, and soul into even your smallest acts. This is the secret of success.

                                </h4>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text text1">

                                Swami Sivananda
                                <span>, Spiritual Teacher</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="title1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mini1">
                                <div class="htext">
                                    <h4>
                                        <a href="">
                                            FOOD DESIGN TRENDS 2016
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mini1 mini2">
                                <div class="part1">
                                    In
                                    <a href="">Food</a>,
                                    <a href="">Inspiration</a>
                                </div>
                                <div class="part1  part2">
                                    APRIL 6, 2017 By
                                    <span>/</span>
                                    <a href="">pixel-mafia </a>
                                </div>
                                <div class="part1  part3">
                                    <a href="">0 COMMENTS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="picturepart1">
                               <img src="~/assets/images/pasta/2-1600x1600.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="content1">
                                <p>
                                    Consectetur adipiscing elit donec vel venenatis purus fusce pretium enim amet faucibus
                                    bibendum, ligula augue. What’s our...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title1  title2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mini1">
                                <div class="htext">
                                    <h4>
                                        <a href="">
                                            AUDIO POST
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mini1 mini2">
                                <div class="part1">
                                    In
                                    <a href="">People</a>, February 24, 2017

                                </div>
                                <div class="part1  part2">
                                    BY
                                    <a href="">pixel-mafia </a>
                                    <span>/</span>
                                    <a href="">0 COMMENTS</a>
                                </div>
                                <div class="part1  part3">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="videopart">
                                <iframe src="https://www.youtube.com/embed/sv3TXMSv6Lw"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title1   pillertitle">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mini1">
                                <div class="htext">
                                    <h4>
                                        <a href="">
                                            CHAT POST
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mini1 mini2">
                                <div class="part1">
                                    In
                                    <a href="">People</a>, February 24, 2017

                                </div>
                                <div class="part1  part2">
                                    BY
                                    <a href="">pixel-mafia </a>
                                    <span>/</span>
                                    <a href="">0 COMMENTS</a>
                                </div>
                                <div class="part1  part3">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="content1">
                                <p>
                                    Sam Brooks: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                                    bibendum mauris. Helen Colins: Nulla id sem a mi egestas molestie sit amet sit amet
                                    nibh.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="title1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mini1">
                                <div class="htext">
                                    <h4>
                                        <a href="">3 INGREDIENT FETTUCCINE ALFREDO</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mini1 mini2">
                                <div class="part1">
                                    In
                                    <a href="">Food</a>,
                                    <a href="">Inspiration</a>
                                </div>
                                <div class="part1  part2">
                                    APRIL 6, 2017 By
                                    <span>/</span>
                                    <a href="">pixel-mafia </a>
                                </div>
                                <div class="part1  part3">
                                    <a href="">0 COMMENTS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="videopart  videopart2 ">
                                <iframe src="https://www.youtube.com/embed/vcfNpDtVqOw"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="content1  content2  ">
                                <p>
                                    Elit donec vel venenatis purus fusce pretium amet faucibus bibendum, ligula augue accumsan
                                    magna, eget. Fusce pretium enim...
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="title1  title2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mini1">
                                <div class="htext">
                                    <h4>
                                        <a href="">
                                            LINK POST
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mini1 mini2">
                                <div class="part1">
                                    In
                                    <a href="">Food</a>,
                                    <a href="">Inspiration</a>
                                </div>
                                <div class="part1  part2">
                                    APRIL 6, 2017 By
                                    <span>/</span>
                                    <a href="">pixel-mafia </a>
                                </div>
                                <div class="part1  part3">
                                    <a href="">0 COMMENTS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="minitext2">
                                <h4>
                                    HELLO!
                                    <a href="">CLICK HERE,</a> IT'S A LINK POST!
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title1  piller3title">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mini1">
                                <div class="htext">
                                    <h4>
                                        <a href="">IMAGE POST</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mini1 mini2">
                                <div class="part1">
                                    In
                                    <a href="">Food</a>,
                                    <a href="">Inspiration</a>
                                </div>
                                <div class="part1  part2">
                                    APRIL 6, 2017 By
                                    <span>/</span>
                                    <a href="">pixel-mafia </a>
                                </div>
                                <div class="part1  part3">
                                    <a href="">0 COMMENTS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="minislider">
                                <div class="owl-carousel owl-theme">
                                    <div class="item">
                                        <div class="miniimg">
                                           <img src="~/assets/images/Pizzas/19-1600x1600.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="miniimg">
                                           <img src="~/assets/images/Pizzas/20-1600x1600.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="miniimg">
                                           <img src="~/assets/images/Pizzas/15-1600x1600.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="content1">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit donec vel venenatis purus fusce
                                    pretium enim amet faucibus. What’s our...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="title1  ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mini1">
                                <div class="htext">
                                    <h4>
                                        <a href="">KITCHEN ESSENTIALS GIVEAWAY!</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mini1 mini2">
                                <div class="part1">
                                    In
                                    <a href="">Food</a>,
                                    <a href="">Inspiration</a>
                                </div>
                                <div class="part1  part2">
                                    APRIL 6, 2017 By
                                    <span>/</span>
                                    <a href="">pixel-mafia </a>
                                </div>
                                <div class="part1  part3">
                                    <a href="">0 COMMENTS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="videopart  videopart2 ">
                                <iframe src="https://www.youtube.com/embed/dpeDxEb9yeg"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="content1  content2  ">
                                <p>
                                    Elit donec vel venenatis purus fusce pretium amet faucibus bibendum, ligula augue accumsan
                                    magna, eget. Fusce pretium enim...
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="title1  title2  title3  piller4title3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mini1">
                                <div class="htext">
                                    <h4>
                                        <a href="">
                                            HEALSY FOOD FOR HEALTHY BODY
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mini1 mini2">
                                <div class="part1">
                                    In
                                    <a href="">Food</a>,
                                    <a href="">Inspiration</a>
                                </div>
                                <div class="part1  part2">
                                    APRIL 6, 2017 By
                                    <span>/</span>
                                    <a href="">pixel-mafia </a>
                                </div>
                                <div class="part1  part3">
                                    <a href="">0 COMMENTS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="minitext">
                                <h4>

                                    Put your heart, mind, and soul into even your smallest acts. This is the secret of success.

                                </h4>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text text1">

                                Swami Sivananda
                                <span>, Spiritual Teacher</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title1  ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mini1">
                                <div class="htext">
                                    <h4>
                                        <a href="">KITCHEN ESSENTIALS GIVEAWAY!</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mini1 mini2">
                                <div class="part1">
                                    In
                                    <a href="">Food</a>,
                                    <a href="">Inspiration</a>
                                </div>
                                <div class="part1  part2">
                                    APRIL 6, 2017 By
                                    <span>/</span>
                                    <a href="">pixel-mafia </a>
                                </div>
                                <div class="part1  part3">
                                    <a href="">0 COMMENTS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="videopart  videopart2 ">
                                <iframe src="https://www.youtube.com/embed/cxB4ACaaR4I"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="content1  content2  ">
                                <p>
                                    Elit donec vel venenatis purus fusce pretium amet faucibus bibendum, ligula augue accumsan
                                    magna, eget. Fusce pretium enim...
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
    </div>
</section>
<!-- blogfullscreen section end -->