@model VincentRestorant.Models.Sliderfirst
@{
    ViewBag.Title = "Detales";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Detales</h2>

<div class="row ">
    <div class="col-md-12">
        <img width="200" class="img-thumbnail" src="~/assets/images/slider/@Model.Img" />
    </div>
    <div class="col-md-12">
        <img width="200" class="img-thumbnail" src="~/assets/images/Pizzas/@Model.Img2" />
    </div>
    <div class="col-md-6">
        <h3>
            @Model.Titlecontent
        </h3>
    </div>
    <div class="col-md-6">
        <h3>
            @Model.Informatincontent
        </h3>
    </div>
    
  
    @Html.ActionLink("Go back to list", "Index", null, new { @class = "btn btn-primary " })
</div>

