
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="color:greenyellow;text-align:center;padding-top10%">Thanks,your order has been accepted</h1>

        </div>
    </div>
</div>

