.mobheader {
  width: 100%;
  height: 80px;
  padding-bottom: 1%;
  padding-top: 1%;
  position: fixed;
  top: 0;
  z-index: 900;
  background-color: #121618;
  display: none;
  transition: 0.8s; }
  .mobheader .mobversion {
    margin-right: 0 !important; }
  .mobheader .conimage {
    padding-left: 4%; }
    .mobheader .conimage .miniimage {
      width: 30%;
      text-align: center;
      padding-bottom: 1%;
      padding-top: 7%;
      padding-left: 5%; }
      .mobheader .conimage .miniimage .wrapper {
        text-decoration: none; }
        .mobheader .conimage .miniimage .wrapper img {
          width: 100%;
          transform: translateX(-50%);
          transform: translateY(-50%); }
  .mobheader .mobhright .hright {
    text-align: right;
    width: 300px;
    display: flex;
    padding-top: 3%;
    padding-left: 7%; }
    .mobheader .mobhright .hright .omcart {
      display: inline-block;
      padding-right: 10%; }
      .mobheader .mobhright .hright .omcart .omount span {
        color: whitesmoke;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 3px;
        text-align: right; }
      .mobheader .mobhright .hright .omcart .itemcart {
        color: whitesmoke;
        font-size: 14px;
        letter-spacing: 3px;
        opacity: 0.4; }
    .mobheader .mobhright .hright .shoppingicon {
      display: flex;
      position: relative; }
      .mobheader .mobhright .hright .shoppingicon i {
        font-size: 27px;
        color: whitesmoke;
        font-weight: 700;
        padding-top: 30%; }
      .mobheader .mobhright .hright .shoppingicon .num {
        width: 17px;
        height: 18px;
        border-radius: 100%;
        background-color: #ffc851;
        font-size: 13px;
        text-align: center;
        color: #333;
        position: absolute;
        right: -37%;
        top: 0%; }
  .mobheader .mobnav #navbar {
    padding-top: 3%; }
    .mobheader .mobnav #navbar .main_nav {
      margin: auto;
      justify-content: space-between;
      width: 90%;
      list-style: none; }
      .mobheader .mobnav #navbar .main_nav .main_nav_li {
        position: relative;
        display: inline-block;
        padding-right: 2%; }
        .mobheader .mobnav #navbar .main_nav .main_nav_li a {
          text-decoration: none;
          color: white;
          font-weight: 300;
          font-size: 14px; }
          .mobheader .mobnav #navbar .main_nav .main_nav_li a:hover {
            color: #ffc851; }
        .mobheader .mobnav #navbar .main_nav .main_nav_li:hover .dropdown_menu {
          visibility: visible; }
        .mobheader .mobnav #navbar .main_nav .main_nav_li .dropdown_menu {
          transition: all 0.1s    linear;
          visibility: hidden;
          list-style: none;
          position: absolute;
          top: 150%;
          left: 50%;
          z-index: 99;
          transform: translateX(-50%);
          width: 200px;
          padding: 20px   30px;
          background-color: #1d2325; }
          .mobheader .mobnav #navbar .main_nav .main_nav_li .dropdown_menu::before {
            content: "";
            width: 15px;
            height: 10px;
            background-color: #1d2325;
            position: absolute;
            bottom: 99%;
            left: 50%;
            transform: translateX(-50%);
            clip-path: polygon(50% 45%, 0% 100%, 100% 100%); }
          .mobheader .mobnav #navbar .main_nav .main_nav_li .dropdown_menu .dropdown_menu_li:not(:last-child) {
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 1px solid #292929; }

.upar {
  width: 100%;
  height: 10px;
  position: absolute;
  display: block;
  content: "";
  left: 0;
  border: solid transparent;
  border-width: 10px 0;
  background-image: linear-gradient(#121618, #121618), linear-gradient(-45deg, transparent 75%, #121618 75%), linear-gradient(45deg, transparent 75%, #121618 75%);
  background-color: #121618;
  background-color: transparent;
  background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
  background-position: 0 0, 0 0, 0 0, 0 100%, 0 100%;
  background-size: auto auto, 15px 15px, 15px 15px, 15px 15px, 15px 15px;
  background-clip: padding-box, border-box, border-box, border-box, border-box;
  background-origin: padding-box, border-box, border-box, border-box, border-box;
  z-index: 60;
  bottom: 68.5%; }

.headercon .first {
  background-color: #121618;
  height: 230px; }
  .headercon .first .sidebar1 {
    margin-top: 2%;
    display: flex;
    padding-left: 7%;
    width: 300px; }
    .headercon .first .sidebar1 .contact {
      margin-left: 8%; }
      .headercon .first .sidebar1 .contact .contact1 {
        font-size: 14px;
        font-weight: 700;
        color: whitesmoke;
        letter-spacing: 2px; }
      .headercon .first .sidebar1 .contact .contact2 {
        font-size: 14px;
        color: white;
        margin-top: 7px;
        opacity: 0.4;
        letter-spacing: 2px; }
    .headercon .first .sidebar1 .icon i {
      font-size: 45px;
      color: whitesmoke; }
  .headercon .first .sidebar2 {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 30px; }
    .headercon .first .sidebar2 .vincentImg {
      background: url(http://d3jdqrr9zagk0s.cloudfront.net/demo/wordpress-themes/vincent/wp-content/themes/vincent/img/logo.png) 0 0 no-repeat transparent;
      width: 176px;
      height: 99px;
      display: inline-block;
      background-size: 176px 99px;
      text-decoration: none;
      outline: none; }
  .headercon .first .hright {
    text-align: right;
    width: 300px;
    display: flex;
    padding-top: 3%;
    padding-left: 7%; }
    .headercon .first .hright .omcart {
      display: inline-block;
      padding-right: 10%; }
      .headercon .first .hright .omcart .omount span {
        color: whitesmoke;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 3px;
        text-align: right; }
      .headercon .first .hright .omcart .itemcart {
        color: whitesmoke;
        font-size: 14px;
        letter-spacing: 3px;
        opacity: 0.4; }
    .headercon .first .hright .shoppingicon {
      display: flex;
      position: relative; }
      .headercon .first .hright .shoppingicon i {
        font-size: 27px;
        color: whitesmoke;
        font-weight: 700;
        padding-top: 30%; }
      .headercon .first .hright .shoppingicon .num {
        width: 17px;
        height: 18px;
        border-radius: 100%;
        background-color: #ffc851;
        font-size: 13px;
        text-align: center;
        color: #333;
        position: absolute;
        right: -37%;
        top: 0%; }
.headercon #navbar {
  margin-top: -1.5%; }
  .headercon #navbar .main_nav {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 43%;
    list-style: none; }
    .headercon #navbar .main_nav .main_nav_li {
      position: relative; }
      .headercon #navbar .main_nav .main_nav_li a {
        text-decoration: none;
        color: white;
        font-weight: 300;
        font-size: 14px; }
        .headercon #navbar .main_nav .main_nav_li a:hover {
          color: #ffc851; }
      .headercon #navbar .main_nav .main_nav_li:hover .dropdown_menu {
        visibility: visible; }
      .headercon #navbar .main_nav .main_nav_li .dropdown_menu {
        transition: all 0.1s    linear;
        visibility: hidden;
        list-style: none;
        position: absolute;
        top: 150%;
        left: 50%;
        z-index: 99;
        transform: translateX(-50%);
        width: 200px;
        padding: 20px   30px;
        background-color: #1d2325; }
        .headercon #navbar .main_nav .main_nav_li .dropdown_menu::before {
          content: "";
          width: 15px;
          height: 10px;
          background-color: #1d2325;
          position: absolute;
          bottom: 99%;
          left: 50%;
          transform: translateX(-50%);
          clip-path: polygon(50% 45%, 0% 100%, 100% 100%); }
        .headercon #navbar .main_nav .main_nav_li .dropdown_menu .dropdown_menu_li:not(:last-child) {
          margin-bottom: 10px;
          padding-bottom: 5px;
          border-bottom: 1px solid #292929; }

#footer {
  width: 100%;
  height: auto;
  background-color: #121618; }
  #footer .Fin .end1 .miniimage {
    text-align: center;
    padding-bottom: 1%;
    padding-top: 9%; }
    #footer .Fin .end1 .miniimage .wrapper {
      text-decoration: none; }
      #footer .Fin .end1 .miniimage .wrapper img {
        width: 14%;
        transform: translateX(-50%);
        transform: translateY(-50%);
        opacity: 0.4; }
  #footer .Fin .contactfooter .end2 .contact .contact1 {
    text-align: center;
    color: white; }
    #footer .Fin .contactfooter .end2 .contact .contact1 p {
      display: inline-block;
      opacity: 0.4;
      padding-left: 1%;
      font-size: 13px; }
    #footer .Fin .contactfooter .end2 .contact .contact1 h5 {
      display: inline-block;
      letter-spacing: 3px;
      font-size: 16px; }
  #footer .Fin .footermenu .menulist {
    text-align: center;
    color: white; }
    #footer .Fin .footermenu .menulist .minimenu ul {
      list-style: none; }
      #footer .Fin .footermenu .menulist .minimenu ul li {
        display: inline-block;
        padding: 2%;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 12px;
        line-height: 14px; }
        #footer .Fin .footermenu .menulist .minimenu ul li a {
          text-decoration: none;
          color: white;
          transition: 0.6s; }
          #footer .Fin .footermenu .menulist .minimenu ul li a:hover {
            color: #ffc851; }
  #footer .Fin .social .socialicon {
    text-align: center; }
    #footer .Fin .social .socialicon .sociallist {
      padding-bottom: 2%; }
      #footer .Fin .social .socialicon .sociallist a {
        text-decoration: none;
        color: white;
        padding-right: 3%;
        transition: 0.6s; }
        #footer .Fin .social .socialicon .sociallist a:hover {
          color: #ffc851; }
  #footer .Fin .footertext .text1 {
    text-align: center; }
    #footer .Fin .footertext .text1 .textend {
      color: #dce4e8;
      padding-bottom: 55px;
      font-size: 14px;
      font-weight: 300;
      opacity: 0.5; }

.backtop {
  display: none;
  width: 60px;
  height: 60px;
  background-color: #ffc851;
  position: fixed;
  text-align: center;
  right: 1%;
  bottom: 10%;
  cursor: pointer; }
  .backtop i {
    color: white;
    padding-top: 100%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    font-size: 18px; }

#cart {
  width: 100%;
  height: auto;
  padding-top: 6%;
  padding-bottom: 6%; }
  #cart .ptext p {
    font-size: 16px;
    color: #dce4e8;
    font-weight: 300;
    line-height: 28px; }
  #cart .part2 {
    width: 100%;
    float: right; }
    #cart .part2 .serch {
      padding-bottom: 15%; }
      #cart .part2 .serch .firstinput input {
        background-color: #121618; }
      #cart .part2 .serch .firstinput button {
        position: absolute;
        right: 4%;
        top: 19%;
        outline: none;
        border-style: none;
        background-color: transparent;
        color: white;
        cursor: pointer; }
    #cart .part2 .FEATURED .post {
      width: 100%;
      height: auto;
      background-color: #252c30;
      padding-bottom: 12%;
      padding-top: 12%;
      padding-left: 14%;
      padding-right: 5%; }
      #cart .part2 .FEATURED .post .text {
        padding-bottom: 6%; }
        #cart .part2 .FEATURED .post .text h5 {
          color: white;
          font-weight: 400;
          letter-spacing: 2px;
          font-size: 16px; }
      #cart .part2 .FEATURED .post .picturepart {
        padding-top: 14%;
        padding-bottom: 21%; }
        #cart .part2 .FEATURED .post .picturepart img {
          border-radius: 60%; }
      #cart .part2 .FEATURED .post .contentpart {
        padding-top: 7%; }
        #cart .part2 .FEATURED .post .contentpart a {
          text-decoration: none;
          color: white;
          letter-spacing: 3px;
          font-size: 14px;
          transition: 0.4s; }
          #cart .part2 .FEATURED .post .contentpart a:hover {
            color: #ffc851; }
        #cart .part2 .FEATURED .post .contentpart span {
          color: white;
          display: block;
          padding-top: 5%;
          letter-spacing: 2px;
          font-size: 14px; }
    #cart .part2 .Blog {
      padding-top: 15%; }
      #cart .part2 .Blog .categories {
        width: 100%;
        height: auto;
        background-color: #252c30;
        padding-top: 12%;
        padding-left: 14%;
        padding-right: 5%; }
        #cart .part2 .Blog .categories .text h5 {
          color: white;
          font-weight: 400;
          letter-spacing: 2px;
          font-size: 16px; }
        #cart .part2 .Blog .categories .mini {
          padding-top: 7%;
          text-align: left; }
          #cart .part2 .Blog .categories .mini ul {
            padding: 0; }
            #cart .part2 .Blog .categories .mini ul li {
              list-style: none;
              padding-bottom: 5%; }
              #cart .part2 .Blog .categories .mini ul li a {
                text-decoration: none;
                color: #dce4e8;
                transition: 0.4s; }
                #cart .part2 .Blog .categories .mini ul li a:hover {
                  color: #ffc851; }
              #cart .part2 .Blog .categories .mini ul li i {
                float: right;
                color: #dce4e8;
                cursor: pointer; }
          #cart .part2 .Blog .categories .mini ul li::after {
            background: #293033;
            display: block;
            content: "";
            width: 100%;
            height: 1.5px;
            margin-top: 7px;
            margin-bottom: 7px; }
    #cart .part2 .tags {
      padding-top: 15%; }
      #cart .part2 .tags .lists {
        width: 100%;
        height: auto;
        background-color: #252c30;
        padding-top: 12%;
        padding-left: 14%;
        padding-right: 5%; }
        #cart .part2 .tags .lists .text h5 {
          color: white;
          font-weight: 400;
          letter-spacing: 2px;
          font-size: 16px; }
        #cart .part2 .tags .lists .mini {
          width: 100%;
          padding-top: 5%;
          padding-bottom: 7%; }
          #cart .part2 .tags .lists .mini a {
            display: inline-block;
            font-size: 14px !important;
            line-height: 26px;
            letter-spacing: 2px;
            text-transform: uppercase;
            border: solid 2px;
            padding: 4px 9px 6px 14px;
            text-decoration: none;
            border-color: #31383c;
            color: #dce4e8;
            margin: 0 6px 10px 0;
            transition: 0.4s; }
            #cart .part2 .tags .lists .mini a::after {
              content: "\002022";
              font-size: 18px;
              margin-left: 5px; }
            #cart .part2 .tags .lists .mini a:hover {
              color: #ffc851;
              border-color: #ffc851; }
    #cart .part2 .INSTAFEED {
      padding-top: 15%; }
      #cart .part2 .INSTAFEED .menuimg {
        width: 100%;
        height: auto;
        background-color: #252c30;
        padding-top: 12%;
        padding-left: 14%;
        padding-right: 9%; }
        #cart .part2 .INSTAFEED .menuimg .text {
          padding-bottom: 8%; }
          #cart .part2 .INSTAFEED .menuimg .text h5 {
            color: white;
            font-weight: 400;
            letter-spacing: 2px;
            font-size: 16px; }
        #cart .part2 .INSTAFEED .menuimg .picturepart {
          padding-bottom: 12%; }
          #cart .part2 .INSTAFEED .menuimg .picturepart ul {
            padding: 0;
            margin: 0;
            list-style: none; }
            #cart .part2 .INSTAFEED .menuimg .picturepart ul li {
              list-style: none;
              display: inline-block;
              width: 32.3%; }
              #cart .part2 .INSTAFEED .menuimg .picturepart ul li a {
                position: relative;
                display: inline-block; }
                #cart .part2 .INSTAFEED .menuimg .picturepart ul li a img {
                  width: 105%; }
                #cart .part2 .INSTAFEED .menuimg .picturepart ul li a::after {
                  content: "";
                  width: 105%;
                  height: 100%;
                  position: absolute;
                  opacity: 0;
                  top: 0;
                  left: 0;
                  -webkit-transition: all .3s;
                  transition: all .3s;
                  background-color: #ffc851; }
              #cart .part2 .INSTAFEED .menuimg .picturepart ul li:hover a::after {
                opacity: 0.7; }
  #cart .linktitle a {
    text-decoration: none;
    width: 20%;
    height: 20px;
    color: #dce4e8;
    background-color: #252c30;
    padding: 1.5%;
    letter-spacing: 3px;
    border-radius: 3%;
    transition: all   0.4s linear; }
    #cart .linktitle a:hover {
      background-color: #ffc851;
      color: #121618; }

.mobheader {
  width: 100%;
  height: 80px;
  padding-bottom: 1%;
  padding-top: 1%;
  position: fixed;
  top: 0;
  z-index: 900;
  background-color: #121618;
  display: none;
  transition: 0.8s; }
  .mobheader .mobversion {
    margin-right: 0 !important; }
  .mobheader .conimage {
    padding-left: 4%; }
    .mobheader .conimage .miniimage {
      width: 30%;
      text-align: center;
      padding-bottom: 1%;
      padding-top: 7%;
      padding-left: 5%; }
      .mobheader .conimage .miniimage .wrapper {
        text-decoration: none; }
        .mobheader .conimage .miniimage .wrapper img {
          width: 100%;
          transform: translateX(-50%);
          transform: translateY(-50%); }
  .mobheader .mobhright .hright {
    text-align: right;
    width: 300px;
    display: flex;
    padding-top: 3%;
    padding-left: 7%; }
    .mobheader .mobhright .hright .omcart {
      display: inline-block;
      padding-right: 10%; }
      .mobheader .mobhright .hright .omcart .omount span {
        color: whitesmoke;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 3px;
        text-align: right; }
      .mobheader .mobhright .hright .omcart .itemcart {
        color: whitesmoke;
        font-size: 14px;
        letter-spacing: 3px;
        opacity: 0.4; }
    .mobheader .mobhright .hright .shoppingicon {
      display: flex;
      position: relative; }
      .mobheader .mobhright .hright .shoppingicon i {
        font-size: 27px;
        color: whitesmoke;
        font-weight: 700;
        padding-top: 30%; }
      .mobheader .mobhright .hright .shoppingicon .num {
        width: 17px;
        height: 18px;
        border-radius: 100%;
        background-color: #ffc851;
        font-size: 13px;
        text-align: center;
        color: #333;
        position: absolute;
        right: -37%;
        top: 0%; }
  .mobheader .mobnav #navbar {
    padding-top: 3%; }
    .mobheader .mobnav #navbar .main_nav {
      margin: auto;
      justify-content: space-between;
      width: 90%;
      list-style: none; }
      .mobheader .mobnav #navbar .main_nav .main_nav_li {
        position: relative;
        display: inline-block;
        padding-right: 2%; }
        .mobheader .mobnav #navbar .main_nav .main_nav_li a {
          text-decoration: none;
          color: white;
          font-weight: 300;
          font-size: 14px; }
          .mobheader .mobnav #navbar .main_nav .main_nav_li a:hover {
            color: #ffc851; }
        .mobheader .mobnav #navbar .main_nav .main_nav_li:hover .dropdown_menu {
          visibility: visible; }
        .mobheader .mobnav #navbar .main_nav .main_nav_li .dropdown_menu {
          transition: all 0.1s    linear;
          visibility: hidden;
          list-style: none;
          position: absolute;
          top: 150%;
          left: 50%;
          z-index: 99;
          transform: translateX(-50%);
          width: 200px;
          padding: 20px   30px;
          background-color: #1d2325; }
          .mobheader .mobnav #navbar .main_nav .main_nav_li .dropdown_menu::before {
            content: "";
            width: 15px;
            height: 10px;
            background-color: #1d2325;
            position: absolute;
            bottom: 99%;
            left: 50%;
            transform: translateX(-50%);
            clip-path: polygon(50% 45%, 0% 100%, 100% 100%); }
          .mobheader .mobnav #navbar .main_nav .main_nav_li .dropdown_menu .dropdown_menu_li:not(:last-child) {
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 1px solid #292929; }

.upar {
  width: 100%;
  height: 10px;
  position: absolute;
  display: block;
  content: "";
  left: 0;
  border: solid transparent;
  border-width: 10px 0;
  background-image: linear-gradient(#121618, #121618), linear-gradient(-45deg, transparent 75%, #121618 75%), linear-gradient(45deg, transparent 75%, #121618 75%);
  background-color: #121618;
  background-color: transparent;
  background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
  background-position: 0 0, 0 0, 0 0, 0 100%, 0 100%;
  background-size: auto auto, 15px 15px, 15px 15px, 15px 15px, 15px 15px;
  background-clip: padding-box, border-box, border-box, border-box, border-box;
  background-origin: padding-box, border-box, border-box, border-box, border-box;
  z-index: 60;
  bottom: 68.5%; }

.headercon .first {
  background-color: #121618;
  height: 230px; }
  .headercon .first .sidebar1 {
    margin-top: 2%;
    display: flex;
    padding-left: 7%;
    width: 300px; }
    .headercon .first .sidebar1 .contact {
      margin-left: 8%; }
      .headercon .first .sidebar1 .contact .contact1 {
        font-size: 14px;
        font-weight: 700;
        color: whitesmoke;
        letter-spacing: 2px; }
      .headercon .first .sidebar1 .contact .contact2 {
        font-size: 14px;
        color: white;
        margin-top: 7px;
        opacity: 0.4;
        letter-spacing: 2px; }
    .headercon .first .sidebar1 .icon i {
      font-size: 45px;
      color: whitesmoke; }
  .headercon .first .sidebar2 {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 30px; }
    .headercon .first .sidebar2 .vincentImg {
      background: url(http://d3jdqrr9zagk0s.cloudfront.net/demo/wordpress-themes/vincent/wp-content/themes/vincent/img/logo.png) 0 0 no-repeat transparent;
      width: 176px;
      height: 99px;
      display: inline-block;
      background-size: 176px 99px;
      text-decoration: none;
      outline: none; }
  .headercon .first .hright {
    text-align: right;
    width: 300px;
    display: flex;
    padding-top: 3%;
    padding-left: 7%; }
    .headercon .first .hright .omcart {
      display: inline-block;
      padding-right: 10%; }
      .headercon .first .hright .omcart .omount span {
        color: whitesmoke;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 3px;
        text-align: right; }
      .headercon .first .hright .omcart .itemcart {
        color: whitesmoke;
        font-size: 14px;
        letter-spacing: 3px;
        opacity: 0.4; }
    .headercon .first .hright .shoppingicon {
      display: flex;
      position: relative; }
      .headercon .first .hright .shoppingicon i {
        font-size: 27px;
        color: whitesmoke;
        font-weight: 700;
        padding-top: 30%; }
      .headercon .first .hright .shoppingicon .num {
        width: 17px;
        height: 18px;
        border-radius: 100%;
        background-color: #ffc851;
        font-size: 13px;
        text-align: center;
        color: #333;
        position: absolute;
        right: -37%;
        top: 0%; }
.headercon #navbar {
  margin-top: -1.5%; }
  .headercon #navbar .main_nav {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 43%;
    list-style: none; }
    .headercon #navbar .main_nav .main_nav_li {
      position: relative; }
      .headercon #navbar .main_nav .main_nav_li a {
        text-decoration: none;
        color: white;
        font-weight: 300;
        font-size: 14px; }
        .headercon #navbar .main_nav .main_nav_li a:hover {
          color: #ffc851; }
      .headercon #navbar .main_nav .main_nav_li:hover .dropdown_menu {
        visibility: visible; }
      .headercon #navbar .main_nav .main_nav_li .dropdown_menu {
        transition: all 0.1s    linear;
        visibility: hidden;
        list-style: none;
        position: absolute;
        top: 150%;
        left: 50%;
        z-index: 99;
        transform: translateX(-50%);
        width: 200px;
        padding: 20px   30px;
        background-color: #1d2325; }
        .headercon #navbar .main_nav .main_nav_li .dropdown_menu::before {
          content: "";
          width: 15px;
          height: 10px;
          background-color: #1d2325;
          position: absolute;
          bottom: 99%;
          left: 50%;
          transform: translateX(-50%);
          clip-path: polygon(50% 45%, 0% 100%, 100% 100%); }
        .headercon #navbar .main_nav .main_nav_li .dropdown_menu .dropdown_menu_li:not(:last-child) {
          margin-bottom: 10px;
          padding-bottom: 5px;
          border-bottom: 1px solid #292929; }

#footer {
  width: 100%;
  height: auto;
  background-color: #121618; }
  #footer .Fin .end1 .miniimage {
    text-align: center;
    padding-bottom: 1%;
    padding-top: 9%; }
    #footer .Fin .end1 .miniimage .wrapper {
      text-decoration: none; }
      #footer .Fin .end1 .miniimage .wrapper img {
        width: 14%;
        transform: translateX(-50%);
        transform: translateY(-50%);
        opacity: 0.4; }
  #footer .Fin .contactfooter .end2 .contact .contact1 {
    text-align: center;
    color: white; }
    #footer .Fin .contactfooter .end2 .contact .contact1 p {
      display: inline-block;
      opacity: 0.4;
      padding-left: 1%;
      font-size: 13px; }
    #footer .Fin .contactfooter .end2 .contact .contact1 h5 {
      display: inline-block;
      letter-spacing: 3px;
      font-size: 16px; }
  #footer .Fin .footermenu .menulist {
    text-align: center;
    color: white; }
    #footer .Fin .footermenu .menulist .minimenu ul {
      list-style: none; }
      #footer .Fin .footermenu .menulist .minimenu ul li {
        display: inline-block;
        padding: 2%;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 12px;
        line-height: 14px; }
        #footer .Fin .footermenu .menulist .minimenu ul li a {
          text-decoration: none;
          color: white;
          transition: 0.6s; }
          #footer .Fin .footermenu .menulist .minimenu ul li a:hover {
            color: #ffc851; }
  #footer .Fin .social .socialicon {
    text-align: center; }
    #footer .Fin .social .socialicon .sociallist {
      padding-bottom: 2%; }
      #footer .Fin .social .socialicon .sociallist a {
        text-decoration: none;
        color: white;
        padding-right: 3%;
        transition: 0.6s; }
        #footer .Fin .social .socialicon .sociallist a:hover {
          color: #ffc851; }
  #footer .Fin .footertext .text1 {
    text-align: center; }
    #footer .Fin .footertext .text1 .textend {
      color: #dce4e8;
      padding-bottom: 55px;
      font-size: 14px;
      font-weight: 300;
      opacity: 0.5; }

.backtop {
  display: none;
  width: 60px;
  height: 60px;
  background-color: #ffc851;
  position: fixed;
  text-align: center;
  right: 1%;
  bottom: 10%;
  cursor: pointer; }
  .backtop i {
    color: white;
    padding-top: 100%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    font-size: 18px; }

#cart {
  width: 100%;
  height: auto;
  padding-top: 6%;
  padding-bottom: 6%; }
  #cart .ptext p {
    font-size: 16px;
    color: #dce4e8;
    font-weight: 300;
    line-height: 28px; }
  #cart .part2 {
    width: 100%;
    float: right; }
    #cart .part2 .serch {
      padding-bottom: 15%; }
      #cart .part2 .serch .firstinput input {
        background-color: #121618; }
      #cart .part2 .serch .firstinput button {
        position: absolute;
        right: 4%;
        top: 19%;
        outline: none;
        border-style: none;
        background-color: transparent;
        color: white;
        cursor: pointer; }
    #cart .part2 .FEATURED .post {
      width: 100%;
      height: auto;
      background-color: #252c30;
      padding-bottom: 12%;
      padding-top: 12%;
      padding-left: 14%;
      padding-right: 5%; }
      #cart .part2 .FEATURED .post .text {
        padding-bottom: 6%; }
        #cart .part2 .FEATURED .post .text h5 {
          color: white;
          font-weight: 400;
          letter-spacing: 2px;
          font-size: 16px; }
      #cart .part2 .FEATURED .post .picturepart {
        padding-top: 14%;
        padding-bottom: 21%; }
        #cart .part2 .FEATURED .post .picturepart img {
          border-radius: 60%; }
      #cart .part2 .FEATURED .post .contentpart {
        padding-top: 7%; }
        #cart .part2 .FEATURED .post .contentpart a {
          text-decoration: none;
          color: white;
          letter-spacing: 3px;
          font-size: 14px;
          transition: 0.4s; }
          #cart .part2 .FEATURED .post .contentpart a:hover {
            color: #ffc851; }
        #cart .part2 .FEATURED .post .contentpart span {
          color: white;
          display: block;
          padding-top: 5%;
          letter-spacing: 2px;
          font-size: 14px; }
    #cart .part2 .Blog {
      padding-top: 15%; }
      #cart .part2 .Blog .categories {
        width: 100%;
        height: auto;
        background-color: #252c30;
        padding-top: 12%;
        padding-left: 14%;
        padding-right: 5%; }
        #cart .part2 .Blog .categories .text h5 {
          color: white;
          font-weight: 400;
          letter-spacing: 2px;
          font-size: 16px; }
        #cart .part2 .Blog .categories .mini {
          padding-top: 7%;
          text-align: left; }
          #cart .part2 .Blog .categories .mini ul {
            padding: 0; }
            #cart .part2 .Blog .categories .mini ul li {
              list-style: none;
              padding-bottom: 5%; }
              #cart .part2 .Blog .categories .mini ul li a {
                text-decoration: none;
                color: #dce4e8;
                transition: 0.4s; }
                #cart .part2 .Blog .categories .mini ul li a:hover {
                  color: #ffc851; }
              #cart .part2 .Blog .categories .mini ul li i {
                float: right;
                color: #dce4e8;
                cursor: pointer; }
          #cart .part2 .Blog .categories .mini ul li::after {
            background: #293033;
            display: block;
            content: "";
            width: 100%;
            height: 1.5px;
            margin-top: 7px;
            margin-bottom: 7px; }
    #cart .part2 .tags {
      padding-top: 15%; }
      #cart .part2 .tags .lists {
        width: 100%;
        height: auto;
        background-color: #252c30;
        padding-top: 12%;
        padding-left: 14%;
        padding-right: 5%; }
        #cart .part2 .tags .lists .text h5 {
          color: white;
          font-weight: 400;
          letter-spacing: 2px;
          font-size: 16px; }
        #cart .part2 .tags .lists .mini {
          width: 100%;
          padding-top: 5%;
          padding-bottom: 7%; }
          #cart .part2 .tags .lists .mini a {
            display: inline-block;
            font-size: 14px !important;
            line-height: 26px;
            letter-spacing: 2px;
            text-transform: uppercase;
            border: solid 2px;
            padding: 4px 9px 6px 14px;
            text-decoration: none;
            border-color: #31383c;
            color: #dce4e8;
            margin: 0 6px 10px 0;
            transition: 0.4s; }
            #cart .part2 .tags .lists .mini a::after {
              content: "\002022";
              font-size: 18px;
              margin-left: 5px; }
            #cart .part2 .tags .lists .mini a:hover {
              color: #ffc851;
              border-color: #ffc851; }
    #cart .part2 .INSTAFEED {
      padding-top: 15%; }
      #cart .part2 .INSTAFEED .menuimg {
        width: 100%;
        height: auto;
        background-color: #252c30;
        padding-top: 12%;
        padding-left: 14%;
        padding-right: 9%; }
        #cart .part2 .INSTAFEED .menuimg .text {
          padding-bottom: 8%; }
          #cart .part2 .INSTAFEED .menuimg .text h5 {
            color: white;
            font-weight: 400;
            letter-spacing: 2px;
            font-size: 16px; }
        #cart .part2 .INSTAFEED .menuimg .picturepart {
          padding-bottom: 12%; }
          #cart .part2 .INSTAFEED .menuimg .picturepart ul {
            padding: 0;
            margin: 0;
            list-style: none; }
            #cart .part2 .INSTAFEED .menuimg .picturepart ul li {
              list-style: none;
              display: inline-block;
              width: 32.3%; }
              #cart .part2 .INSTAFEED .menuimg .picturepart ul li a {
                position: relative;
                display: inline-block; }
                #cart .part2 .INSTAFEED .menuimg .picturepart ul li a img {
                  width: 105%; }
                #cart .part2 .INSTAFEED .menuimg .picturepart ul li a::after {
                  content: "";
                  width: 105%;
                  height: 100%;
                  position: absolute;
                  opacity: 0;
                  top: 0;
                  left: 0;
                  -webkit-transition: all .3s;
                  transition: all .3s;
                  background-color: #ffc851; }
              #cart .part2 .INSTAFEED .menuimg .picturepart ul li:hover a::after {
                opacity: 0.7; }
  #cart .linktitle a {
    text-decoration: none;
    width: 20%;
    height: 20px;
    color: #dce4e8;
    background-color: #252c30;
    padding: 1.5%;
    letter-spacing: 3px;
    border-radius: 3%;
    transition: all   0.4s linear; }
    #cart .linktitle a:hover {
      background-color: #ffc851;
      color: #121618; }

@media only screen and (max-width: 767px) and (min-width: 320px) {
  #cart .part2 {
    width: 100%;
    float: right;
    padding-top: 20%; }
    #cart .part2 .serch {
      padding-bottom: 15%; }
      #cart .part2 .serch .firstinput input {
        background-color: #121618; }
      #cart .part2 .serch .firstinput button {
        position: absolute;
        right: 4%;
        top: 19%;
        outline: none;
        border-style: none;
        background-color: transparent;
        color: white;
        cursor: pointer; }
    #cart .part2 .FEATURED .post {
      width: 100%;
      height: auto;
      background-color: #252c30;
      padding-bottom: 12%;
      padding-top: 12%;
      padding-left: 0;
      text-align: center;
      padding-right: 5%; }
      #cart .part2 .FEATURED .post .text {
        padding-bottom: 6%; }
        #cart .part2 .FEATURED .post .text h5 {
          color: white;
          font-weight: 400;
          letter-spacing: 2px;
          font-size: 16px; }
      #cart .part2 .FEATURED .post .picturepart {
        padding-top: 14%;
        padding-bottom: 21%; }
        #cart .part2 .FEATURED .post .picturepart img {
          border-radius: 60%; }
      #cart .part2 .FEATURED .post .contentpart {
        padding-top: 7%; }
        #cart .part2 .FEATURED .post .contentpart a {
          text-decoration: none;
          color: white;
          letter-spacing: 0;
          font-size: 14px;
          transition: 0.4s; }
          #cart .part2 .FEATURED .post .contentpart a:hover {
            color: #ffc851; }
        #cart .part2 .FEATURED .post .contentpart span {
          color: white;
          display: block;
          padding-top: 5%;
          letter-spacing: 2px;
          font-size: 14px; }
    #cart .part2 .Blog {
      padding-top: 15%; }
      #cart .part2 .Blog .categories {
        width: 100%;
        height: auto;
        background-color: #252c30;
        padding-top: 12%;
        padding-left: 14%;
        padding-right: 5%; }
        #cart .part2 .Blog .categories .text h5 {
          color: white;
          font-weight: 400;
          letter-spacing: 2px;
          font-size: 16px; }
        #cart .part2 .Blog .categories .mini {
          padding-top: 7%;
          text-align: left; }
          #cart .part2 .Blog .categories .mini ul {
            padding: 0; }
            #cart .part2 .Blog .categories .mini ul li {
              list-style: none;
              padding-bottom: 5%; }
              #cart .part2 .Blog .categories .mini ul li a {
                text-decoration: none;
                color: #dce4e8;
                transition: 0.4s; }
                #cart .part2 .Blog .categories .mini ul li a:hover {
                  color: #ffc851; }
              #cart .part2 .Blog .categories .mini ul li i {
                float: right;
                color: #dce4e8;
                cursor: pointer; }
          #cart .part2 .Blog .categories .mini ul li::after {
            background: #293033;
            display: block;
            content: "";
            width: 100%;
            height: 1.5px;
            margin-top: 7px;
            margin-bottom: 7px; }
    #cart .part2 .tags {
      padding-top: 15%; }
      #cart .part2 .tags .lists {
        width: 100%;
        height: auto;
        background-color: #252c30;
        padding-top: 12%;
        padding-left: 14%;
        padding-right: 5%; }
        #cart .part2 .tags .lists .text h5 {
          color: white;
          font-weight: 400;
          letter-spacing: 2px;
          font-size: 16px; }
        #cart .part2 .tags .lists .mini {
          width: 100%;
          padding-top: 5%;
          padding-bottom: 7%; }
          #cart .part2 .tags .lists .mini a {
            display: inline-block;
            font-size: 14px !important;
            line-height: 26px;
            letter-spacing: 2px;
            text-transform: uppercase;
            border: solid 2px;
            padding: 4px 9px 6px 14px;
            text-decoration: none;
            border-color: #31383c;
            color: #dce4e8;
            margin: 0 6px 10px 0;
            transition: 0.4s; }
            #cart .part2 .tags .lists .mini a::after {
              content: "\002022";
              font-size: 18px;
              margin-left: 5px; }
            #cart .part2 .tags .lists .mini a:hover {
              color: #ffc851;
              border-color: #ffc851; }
    #cart .part2 .INSTAFEED .menuimg .picturepart ul li {
      width: 31.3%; }
  #cart .ptext {
    text-align: center; }
  #cart .linktitle {
    text-align: center;
    padding-top: 15%; } }
#cart .login {
  width: 100%;
  height: auto; }
  #cart .login .dropdown-menu {
    display: block;
    width: 100%;
    background-color: transparent;
    color: #dce4e8;
    border: 1px solid   #dce4e8;
    z-index: 1; }
    #cart .login .dropdown-menu a {
      color: #dce4e8;
      transition: all 0.4s  linear; }
      #cart .login .dropdown-menu a:hover {
        color: #212529; }
    #cart .login .dropdown-menu input {
      background-color: transparent;
      color: #dce4e8;
      border-color: #1d2326; }
#cart::after {
  content: " ";
  width: 100%;
  height: 1px;
  display: table;
  background-color: #212529;
  margin-top: 5%; }

@media only screen and (max-width: 767px) and (min-width: 320px) {
  #cart .dropdown-menu {
    position: relative; } }

/*# sourceMappingURL=acount.css.map */
