.mobheader {
  width: 100%;
  height: 80px;
  padding-bottom: 1%;
  padding-top: 1%;
  position: fixed;
  top: 0;
  z-index: 900;
  background-color: #121618;
  display: none;
  transition: 0.8s; }
  .mobheader .mobversion {
    margin-right: 0 !important; }
  .mobheader .conimage {
    padding-left: 4%; }
    .mobheader .conimage .miniimage {
      width: 30%;
      text-align: center;
      padding-bottom: 1%;
      padding-top: 7%;
      padding-left: 5%; }
      .mobheader .conimage .miniimage .wrapper {
        text-decoration: none; }
        .mobheader .conimage .miniimage .wrapper img {
          width: 100%;
          transform: translateX(-50%);
          transform: translateY(-50%); }
  .mobheader .mobhright .hright {
    text-align: right;
    width: 300px;
    display: flex;
    padding-top: 3%;
    padding-left: 7%; }
    .mobheader .mobhright .hright .omcart {
      display: inline-block;
      padding-right: 10%; }
      .mobheader .mobhright .hright .omcart .omount span {
        color: whitesmoke;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 3px;
        text-align: right; }
      .mobheader .mobhright .hright .omcart .itemcart {
        color: whitesmoke;
        font-size: 14px;
        letter-spacing: 3px;
        opacity: 0.4; }
    .mobheader .mobhright .hright .shoppingicon {
      display: flex;
      position: relative; }
      .mobheader .mobhright .hright .shoppingicon i {
        font-size: 27px;
        color: whitesmoke;
        font-weight: 700;
        padding-top: 30%; }
      .mobheader .mobhright .hright .shoppingicon .num {
        width: 17px;
        height: 18px;
        border-radius: 100%;
        background-color: #ffc851;
        font-size: 13px;
        text-align: center;
        color: #333;
        position: absolute;
        right: -37%;
        top: 0%; }
  .mobheader .mobnav #navbar {
    padding-top: 3%; }
    .mobheader .mobnav #navbar .main_nav {
      margin: auto;
      justify-content: space-between;
      width: 90%;
      list-style: none; }
      .mobheader .mobnav #navbar .main_nav .main_nav_li {
        position: relative;
        display: inline-block;
        padding-right: 2%; }
        .mobheader .mobnav #navbar .main_nav .main_nav_li a {
          text-decoration: none;
          color: white;
          font-weight: 300;
          font-size: 14px; }
          .mobheader .mobnav #navbar .main_nav .main_nav_li a:hover {
            color: #ffc851; }
        .mobheader .mobnav #navbar .main_nav .main_nav_li:hover .dropdown_menu {
          visibility: visible; }
        .mobheader .mobnav #navbar .main_nav .main_nav_li .dropdown_menu {
          transition: all 0.1s    linear;
          visibility: hidden;
          list-style: none;
          position: absolute;
          top: 150%;
          left: 50%;
          z-index: 99;
          transform: translateX(-50%);
          width: 200px;
          padding: 20px   30px;
          background-color: #1d2325; }
          .mobheader .mobnav #navbar .main_nav .main_nav_li .dropdown_menu::before {
            content: "";
            width: 15px;
            height: 10px;
            background-color: #1d2325;
            position: absolute;
            bottom: 99%;
            left: 50%;
            transform: translateX(-50%);
            clip-path: polygon(50% 45%, 0% 100%, 100% 100%); }
          .mobheader .mobnav #navbar .main_nav .main_nav_li .dropdown_menu .dropdown_menu_li:not(:last-child) {
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 1px solid #292929; }

.upar {
  width: 100%;
  height: 10px;
  position: absolute;
  display: block;
  content: "";
  left: 0;
  border: solid transparent;
  border-width: 10px 0;
  background-image: linear-gradient(#121618, #121618), linear-gradient(-45deg, transparent 75%, #121618 75%), linear-gradient(45deg, transparent 75%, #121618 75%);
  background-color: #121618;
  background-color: transparent;
  background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
  background-position: 0 0, 0 0, 0 0, 0 100%, 0 100%;
  background-size: auto auto, 15px 15px, 15px 15px, 15px 15px, 15px 15px;
  background-clip: padding-box, border-box, border-box, border-box, border-box;
  background-origin: padding-box, border-box, border-box, border-box, border-box;
  z-index: 60;
  bottom: 68.5%; }

.headercon .first {
  background-color: #121618;
  height: 230px; }
  .headercon .first .sidebar1 {
    margin-top: 2%;
    display: flex;
    padding-left: 7%;
    width: 300px; }
    .headercon .first .sidebar1 .contact {
      margin-left: 8%; }
      .headercon .first .sidebar1 .contact .contact1 {
        font-size: 14px;
        font-weight: 700;
        color: whitesmoke;
        letter-spacing: 2px; }
      .headercon .first .sidebar1 .contact .contact2 {
        font-size: 14px;
        color: white;
        margin-top: 7px;
        opacity: 0.4;
        letter-spacing: 2px; }
    .headercon .first .sidebar1 .icon i {
      font-size: 45px;
      color: whitesmoke; }
  .headercon .first .sidebar2 {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 30px; }
    .headercon .first .sidebar2 .vincentImg {
      background: url(http://d3jdqrr9zagk0s.cloudfront.net/demo/wordpress-themes/vincent/wp-content/themes/vincent/img/logo.png) 0 0 no-repeat transparent;
      width: 176px;
      height: 99px;
      display: inline-block;
      background-size: 176px 99px;
      text-decoration: none;
      outline: none; }
  .headercon .first .hright {
    text-align: right;
    width: 300px;
    display: flex;
    padding-top: 3%;
    padding-left: 7%; }
    .headercon .first .hright .omcart {
      display: inline-block;
      padding-right: 10%; }
      .headercon .first .hright .omcart .omount span {
        color: whitesmoke;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 3px;
        text-align: right; }
      .headercon .first .hright .omcart .itemcart {
        color: whitesmoke;
        font-size: 14px;
        letter-spacing: 3px;
        opacity: 0.4; }
    .headercon .first .hright .shoppingicon {
      display: flex;
      position: relative; }
      .headercon .first .hright .shoppingicon i {
        font-size: 27px;
        color: whitesmoke;
        font-weight: 700;
        padding-top: 30%; }
      .headercon .first .hright .shoppingicon .num {
        width: 17px;
        height: 18px;
        border-radius: 100%;
        background-color: #ffc851;
        font-size: 13px;
        text-align: center;
        color: #333;
        position: absolute;
        right: -37%;
        top: 0%; }
.headercon #navbar {
  margin-top: -1.5%; }
  .headercon #navbar .main_nav {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 43%;
    list-style: none; }
    .headercon #navbar .main_nav .main_nav_li {
      position: relative; }
      .headercon #navbar .main_nav .main_nav_li a {
        text-decoration: none;
        color: white;
        font-weight: 300;
        font-size: 14px; }
        .headercon #navbar .main_nav .main_nav_li a:hover {
          color: #ffc851; }
      .headercon #navbar .main_nav .main_nav_li:hover .dropdown_menu {
        visibility: visible; }
      .headercon #navbar .main_nav .main_nav_li .dropdown_menu {
        transition: all 0.1s    linear;
        visibility: hidden;
        list-style: none;
        position: absolute;
        top: 150%;
        left: 50%;
        z-index: 99;
        transform: translateX(-50%);
        width: 200px;
        padding: 20px   30px;
        background-color: #1d2325; }
        .headercon #navbar .main_nav .main_nav_li .dropdown_menu::before {
          content: "";
          width: 15px;
          height: 10px;
          background-color: #1d2325;
          position: absolute;
          bottom: 99%;
          left: 50%;
          transform: translateX(-50%);
          clip-path: polygon(50% 45%, 0% 100%, 100% 100%); }
        .headercon #navbar .main_nav .main_nav_li .dropdown_menu .dropdown_menu_li:not(:last-child) {
          margin-bottom: 10px;
          padding-bottom: 5px;
          border-bottom: 1px solid #292929; }

#footer {
  width: 100%;
  height: auto;
  background-color: #121618; }
  #footer .Fin .end1 .miniimage {
    text-align: center;
    padding-bottom: 1%;
    padding-top: 9%; }
    #footer .Fin .end1 .miniimage .wrapper {
      text-decoration: none; }
      #footer .Fin .end1 .miniimage .wrapper img {
        width: 14%;
        transform: translateX(-50%);
        transform: translateY(-50%);
        opacity: 0.4; }
  #footer .Fin .contactfooter .end2 .contact .contact1 {
    text-align: center;
    color: white; }
    #footer .Fin .contactfooter .end2 .contact .contact1 p {
      display: inline-block;
      opacity: 0.4;
      padding-left: 1%;
      font-size: 13px; }
    #footer .Fin .contactfooter .end2 .contact .contact1 h5 {
      display: inline-block;
      letter-spacing: 3px;
      font-size: 16px; }
  #footer .Fin .footermenu .menulist {
    text-align: center;
    color: white; }
    #footer .Fin .footermenu .menulist .minimenu ul {
      list-style: none; }
      #footer .Fin .footermenu .menulist .minimenu ul li {
        display: inline-block;
        padding: 2%;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 12px;
        line-height: 14px; }
        #footer .Fin .footermenu .menulist .minimenu ul li a {
          text-decoration: none;
          color: white;
          transition: 0.6s; }
          #footer .Fin .footermenu .menulist .minimenu ul li a:hover {
            color: #ffc851; }
  #footer .Fin .social .socialicon {
    text-align: center; }
    #footer .Fin .social .socialicon .sociallist {
      padding-bottom: 2%; }
      #footer .Fin .social .socialicon .sociallist a {
        text-decoration: none;
        color: white;
        padding-right: 3%;
        transition: 0.6s; }
        #footer .Fin .social .socialicon .sociallist a:hover {
          color: #ffc851; }
  #footer .Fin .footertext .text1 {
    text-align: center; }
    #footer .Fin .footertext .text1 .textend {
      color: #dce4e8;
      padding-bottom: 55px;
      font-size: 14px;
      font-weight: 300;
      opacity: 0.5; }

.backtop {
  display: none;
  width: 60px;
  height: 60px;
  background-color: #ffc851;
  position: fixed;
  text-align: center;
  right: 1%;
  bottom: 10%;
  cursor: pointer; }
  .backtop i {
    color: white;
    padding-top: 100%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    font-size: 18px; }

#Productdetal {
  width: 100%;
  height: auto;
  background-color: #121618;
  padding-top: 5%;
  padding-bottom: 5%; }
  #Productdetal .picturepart {
    width: 100%;
    height: auto;
    padding-top: 8%; }
    #Productdetal .picturepart img {
      width: 100%;
      border-radius: 100%; }
  #Productdetal .minipicture {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 30%; }
    #Productdetal .minipicture img {
      width: 100%;
      border-radius: 100%; }
    #Productdetal .minipicture span {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #ffc851;
      opacity: 0;
      transition: all 0.4s  linear;
      border-radius: 100%; }
    #Productdetal .minipicture:hover span {
      opacity: 0.8; }
  #Productdetal .titletext {
    padding-top: 8%;
    padding-left: 9%; }
    #Productdetal .titletext h1 {
      letter-spacing: 8px;
      font-size: 40px;
      line-height: 40px;
      color: #dce4e8;
      font-weight: 400;
      text-transform: uppercase; }
  #Productdetal .pricetext {
    padding-top: 8%;
    padding-left: 8%; }
    #Productdetal .pricetext span {
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 3px;
      font-weight: 400;
      margin-bottom: 27px;
      color: #ffc851;
      text-transform: uppercase; }
  #Productdetal .ptext {
    padding-top: 8%;
    padding-left: 9%; }
    #Productdetal .ptext p {
      font-size: 16px;
      line-height: 28px;
      font-weight: 300;
      color: #dce4e8; }
  #Productdetal .mini {
    width: 90%;
    height: auto;
    padding-top: 37%;
    padding-bottom: 14%;
    background-color: #1d2326;
    position: relative; }
    #Productdetal .mini .picturepart {
      width: 52%;
      position: absolute;
      top: 0;
      left: 24.5%;
      transform: translateX(-50%);
      transform: translateY(-50%); }
      #Productdetal .mini .picturepart img {
        width: 100%; }
    #Productdetal .mini .contentpart {
      text-align: center;
      padding-left: 6%;
      padding-right: 6%;
      width: 100%; }
      #Productdetal .mini .contentpart h2 {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 3px;
        font-weight: 700;
        padding: 0;
        margin-bottom: 13px;
        -webkit-transition: all .3s;
        transition: all .3s; }
        #Productdetal .mini .contentpart h2 a {
          text-decoration: none;
          color: #dce4e8;
          transition: 0.4s; }
          #Productdetal .mini .contentpart h2 a:hover {
            color: #ffc851; }
      #Productdetal .mini .contentpart p {
        font-size: 14px;
        color: #dce4e8;
        line-height: 28px;
        font-weight: 300;
        text-align: center; }
      #Productdetal .mini .contentpart span {
        font-size: 24px;
        line-height: 26px;
        letter-spacing: 3px;
        color: #dce4e8; }
      #Productdetal .mini .contentpart .directions {
        width: 70%;
        height: 40px;
        position: relative;
        padding-top: 0.5%;
        top: 60%;
        left: 16%;
        padding-top: 15%;
        padding-bottom: 10%; }
        #Productdetal .mini .contentpart .directions a {
          text-decoration: none;
          color: #dce4e8;
          font-size: 14px;
          font-weight: 300;
          border: 2px solid;
          border-color: #dce4e8;
          text-align: center;
          letter-spacing: 2px;
          padding: 6%;
          transition: 0.4s; }
          #Productdetal .mini .contentpart .directions a i {
            padding-left: 3%; }
          #Productdetal .mini .contentpart .directions a:hover {
            color: #ffc851;
            border-color: #ffc851; }
  #Productdetal .notes {
    padding-bottom: 15%;
    padding-top: 8%; }
    #Productdetal .notes h2 {
      font-size: 28px;
      line-height: 28px;
      letter-spacing: 3px;
      text-align: center;
      text-transform: uppercase;
      color: #dce4e8;
      font-weight: 300; }
  #Productdetal hr {
    width: 100%;
    height: 0.5px;
    background-color: #31383c; }
  #Productdetal .options {
    padding-left: 8%;
    padding-top: 6%; }
    #Productdetal .options .content {
      padding-bottom: 20%; }
    #Productdetal .options select {
      width: 100%;
      background-color: transparent;
      color: #dce4e8;
      padding: 2%; }
    #Productdetal .options a {
      text-decoration: none;
      color: #121618;
      font-size: 14px;
      font-weight: 300;
      border: 2px solid;
      text-align: center;
      background-color: #ffc851;
      letter-spacing: 2px;
      padding: 2%;
      transition: 0.4s;
      float: right; }
      #Productdetal .options a i {
        padding-left: 3%; }
      #Productdetal .options a:hover {
        color: #ffc851;
        background-color: #121618;
        border-color: #ffc851; }
    #Productdetal .options .add span {
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 3px;
      font-weight: 700;
      color: #ffc851; }
    #Productdetal .options .add input {
      width: 7%;
      background-color: transparent;
      color: #dce4e8;
      text-align: center;
      padding-right: 35;
      height: 40px; }
    #Productdetal .options .add button {
      margin-left: 5%;
      text-decoration: none;
      color: #121618;
      font-size: 14px;
      font-weight: 300;
      border: 2px solid;
      text-align: center;
      background-color: #ffc851;
      letter-spacing: 2px;
      padding: 2%;
      transition: 0.4s; }
      #Productdetal .options .add button:hover {
        color: #ffc851;
        background-color: #121618;
        border-color: #ffc851; }
    #Productdetal .options .listdetal {
      padding-top: 15%; }
      #Productdetal .options .listdetal span {
        display: block;
        line-height: 27px;
        color: #dce4e8;
        font-size: 16px;
        font-weight: 300; }
        #Productdetal .options .listdetal span::before {
          content: "\25E6";
          font-size: 21px;
          margin-right: 8px;
          color: #ffc851; }

@media only screen and (max-width: 767px) and (min-width: 320px) {
  #Productdetal .minipicture {
    margin-top: 51%; }
  #Productdetal .titletext {
    padding-top: 12%; }
    #Productdetal .titletext h1 {
      text-align: center; }
  #Productdetal .pricetext span {
    letter-spacing: 1px; }
  #Productdetal .ptext {
    padding-top: 8%;
    padding-left: 9%; }
    #Productdetal .ptext p {
      font-size: 16px;
      line-height: 28px;
      font-weight: 300;
      color: #dce4e8; }
  #Productdetal .mini {
    margin-bottom: 13%;
    width: 100%; }
  #Productdetal .notes {
    padding-bottom: 30%;
    padding-top: 8%; }
    #Productdetal .notes h2 {
      letter-spacing: 0; }
  #Productdetal hr {
    width: 100%;
    height: 0.5px;
    background-color: #31383c; }
  #Productdetal .options .content {
    padding-bottom: 20%; }
    #Productdetal .options .content h5 {
      font-weight: 400; }
  #Productdetal .options .add span {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 3px;
    font-weight: 700;
    color: #ffc851; }
  #Productdetal .options .add input {
    width: 14%;
    padding-right: 35; }
  #Productdetal .listdetal {
    padding-top: 15%; }
    #Productdetal .listdetal span {
      display: block;
      line-height: 27px;
      color: #dce4e8;
      font-size: 16px;
      font-weight: 300; }
      #Productdetal .listdetal span::before {
        content: "\25E6";
        font-size: 21px;
        margin-right: 8px;
        color: #ffc851; } }

/*# sourceMappingURL=singleproduct.css.map */
