@using VincentRestorant.Models;
@model VincentRestorant.ViewModel.HomeIndexVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Discover   Our MEnu    start -->
<section id="discmenu">
    <div class="container menublock">
        <div class="row text">
            <div class="col-md-12 h3text">
                <h3>TYPOGRAPHY</h3>
            </div>
        </div>
    </div>
</section>
<!-- Discover   Our MEnu    end -->
<!-- thpogrpybody   Start -->
<section id="Typography">
    <div class="container-fluid main">

        <div class="row firstpart">
            <div class="col-md-8  part1">
                <div class="row">
                    <div class="col-md-12 mini">
                        <h1>H1 HEADING LOOKS LIKE THIS</h1>
                    </div>
                    <div class="col-md-12 mini">
                        <h2>H2 HEADING LOOKS LIKE THIS</h2>
                    </div>
                    <div class="col-md-12 mini">
                        <h3>H3 HEADING LOOKS LIKE THIS</h3>
                    </div>
                    <div class="col-md-12 mini">
                        <h4>H4 HEADING LOOKS LIKE THIS</h4>
                    </div>
                    <div class="col-md-12 mini">
                        <h5>H5 HEADING LOOKS LIKE THIS</h5>
                    </div>
                    <div class="col-md-12 mini">
                        <h6>H6 HEADING LOOKS LIKE THIS</h6>
                    </div>
                </div>
                <hr></hr>
                <div class="row">
                    <div class="col-md-12 bigtext">
                        <h4>PARAGRAPHS</h4>
                    </div>
                    <div class="col-md-12  smalltext1">
                        <p>
                            What’s our purpose at Vincent?
                            <a href="">Moments of Excitement</a>. All made possible by our flavor, innovation and, most importantly,
                            by unlocking potential in our team members.
                        </p>
                    </div>
                    <div class="col-md-12">
                        <div class="smalltext1">
                            <p>
                                With more than 50 years of experience under our belts, we understand how to best serve our customers through tried and true
                                service principles. Instead of following trends, we set them. We create food we’re proud
                                to serve and deliver it fast, with a smile. No matter where you find us, we’re making
                                sure each meal our customers enjoy is delicious and one-of-a-kind.
                            </p>
                        </div>

                    </div>
                </div>
                <hr></hr>
                <div class="row">
                    <div class="col-md-12  bigtext2">
                        <h4>DROPCAPS</h4>
                    </div>
                    <div class="col-md-12 smalltext1  smalltext3  ">
                        <p>
                            <span>W</span>
                            ith more than 50 years of experience under our belts, we understand how to best serve our customers through tried and true
                            service principles. Instead of following trends, we set them. We create food we’re proud
                            to serve and deliver it fast, with a smile. No matter where you find us, we’re making sure
                            each meal our customers enjoy is delicious and one-of-a-kind.
                        </p>
                    </div>
                    <div class="col-md-12 smalltext1 smalltext4 smalltext3">
                        <p>
                            <span>W</span>
                            ith more than 50 years of experience under our belts, we understand how to best serve our customers through tried and true
                            service principles. Instead of following trends, we set them. We create food we’re proud
                            to serve and deliver it fast, with a smile. No matter where you find us, we’re making sure
                            each meal our customers enjoy is delicious and one-of-a-kind.
                        </p>
                    </div>
                </div>
                <hr>
                </hr>

                <div class="row">
                    <div class="col md-12 bigtext3">
                        <h4>BLOCKQUOTES</h4>
                    </div>
                    <div class="col-md-12 bordertext1">
                        <p>
                            Your work is going to fill a large part of your life, and the only way to be truly satisfied
                            is to do what you believe is great work. And the only way to do great work is to love what
                            you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the
                            heart, you’ll know when you find it.
                        </p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 title">
                        <h6>STEVE JOBS , Inspirer</h6>
                    </div>
                    <div class="col-md-6">
                        <div class="bordertext2">
                            <p>
                                Put your heart, mind, and soul into even your smallest acts. This is the secret of success.
                            </p>
                        </div>
                        <div class="smalltext5 smalltext6 ">
                            <p>SWAMI SIVANANDA , Spiritual Teacher</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="smalltext5">
                            <p>
                                Sivananda was born Kuppuswamy in Pattamadai near Tirunelveli in Tamil Nadu, India, as the
                                third son to his parents on 8 September 1887. As a child he was very active and promising
                                in academics and gymnastics. He attended medical school in Tanjore.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <hr></hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 bigtext">
                            <h4>HIGHLIGHTER</h4>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="smalltext1">
                            <p>
                                What’s our purpose at Vincent?
                                <span style="background-color: #ffc851;color: #121618">Moments of Excitement</span>. All made possible by our flavor, innovation and, most importantly,
                                by unlocking potential in our team members. With more than 50 years of experience under
                                our belts, we understand how to best serve our customers through tried and
                                <span style="background-color: #dce4e8;color: #121618">true service principles</span>
                                . Instead of following trends, we set them. We create food we’re proud to serve and deliver it fast, with a smile. No matter
                                where you find us,
                                <span style="background-color: #3d484d;color: #ffffff">
                                    we’re making sure
                                </span> each meal our customers enjoy is delicious and one-of-a-kind.
                            </p>
                        </div>
                    </div>
                </div>
                <hr></hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 bigtext">
                            <h4>STANDARD LISTS</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="list1">
                            <ol>
                                <li>Neapolitan pizza</li>
                                <li>Greek pizza</li>
                                <li>Margherita</li>
                                <li>Vincent</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="list1 list2">
                            <ol>
                                <li>Neapolitan pizza</li>
                                <li>Greek pizza</li>
                                <li>Margherita</li>
                                <li>Vincent</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="list1 list3">
                            <ol>
                                <li>Neapolitan pizza</li>
                                <li>Greek pizza</li>
                                <li>Margherita</li>
                                <li>Vincent</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="list1 list4">
                            <ol>
                                <li>Neapolitan pizza</li>
                                <li>Greek pizza</li>
                                <li>Margherita</li>
                                <li>Vincent</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 part2">
                <div class="row serch">
                    <div class="col-md-12">
                        <div class="firstinput">
                            <div class="input-group stylish-input-group">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-addon">
                                    <button type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="FEATURED">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="post">
                                <div class="row">
                                    <div class="col-md-12  ">
                                        <div class="text">
                                            <h5>FEATURED POSTS</h5>

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="picturepart">
                                            <img src="~/assets/images/img/1-80x80.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="contentpart">
                                            <a href="">HEALSY FOOD FOR HEALTHY BODY</a>
                                            <span>April 6, 2017</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="picturepart">
                                            <img src="~/assets/images/img/2-80x80.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="contentpart">
                                            <a href="">FOOD DESIGN TRENDS 2016</a>
                                            <span>April 6, 2017</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="Blog">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="categories">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text">
                                            <h5>
                                                BLOG CATEGORIES
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mini">
                                            <ul>
                                                @foreach (var item in Model.categories)
                                                {
                                                    <li>
                                                        <a href="@Url.Action("Index","TagCategories",new {categ=item.ID })">@item.Name</a>
                                                        <i class="fas fa-angle-right"></i>
                                                    </li>

                                                }

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-12"></div>
                                    <div class="col-md-12"></div>
                                    <div class="col-md-12"></div>
                                    <div class="col-md-12"></div>
                                    <div class="col-md-12"></div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="tags">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="lists">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text">
                                            <h5>TAGS</h5>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mini">
                                            @foreach (var item in Model.categories)
                                            {
                                                <a href="@Url.Action("Index","TagCategories",new {categ=item.ID })">@item.Name</a>

                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
                <div class="row INSTAFEED">
                    <div class="col-md-12">
                        <div class="menuimg">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text">
                                        <h5>INSTAFEED</h5>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="picturepart">
                                        <ul>
                                            <li>
                                                <a href="">
                                                    <img src="~/assets/images/burger/17817627_1991094447779194_2141034917813813248_n.jpg" alt="">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <img src="~/assets/images/img/17596453_1394335877325424_5306473291534303232_n.jpg" alt="">
                                                </a>
                                            </li>

                                            <li>
                                                <a href="">
                                                    <img src="~/assets/images/img/17662462_240934883045697_4488760463823208448_n.jpg" alt="">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <img src="~/assets/images/img/17663134_213463345806971_2661189821392748544_n.jpg" alt="">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <img src="~/assets/images/img/17663740_2273891269502238_7837518096255418368_n.jpg" alt="">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <img src="~/assets/images/img/17818827_1383669068365197_1027011360048807936_n (1).jpg"">
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- thpogrpybody   End -->